{ns hl7-org-nz-fhir-ig-mdr,
 import #{zen.fhir hl7-fhir-r4-core fhir-org-nz-ig-base},
 extensions {:zen/tags #{zen.fhir/extensions},
             :schemas {"http://hl7.org.nz/fhir/StructureDefinition/nzeps-endorsement" #zen/quote hl7-org-nz-fhir-ig-mdr.nzeps-endorsement/schema}},
 ig {:zen/tags #{zen.fhir/ig},
     :profiles profiles,
     :extensions extensions,
     :structures structures,
     :searches searches},
 profiles {:zen/tags #{zen.fhir/profiles},
           :schemas {"MedicationRequest" {"http://hl7.org.nz/fhir/StructureDefinition/NzepsMedicationRequest" #zen/quote hl7-org-nz-fhir-ig-mdr.NzepsMedicationRequest/schema},
                     "Medication" {"http://hl7.org.nz/fhir/StructureDefinition/NzepsMedication" #zen/quote hl7-org-nz-fhir-ig-mdr.NzepsMedication/schema},
                     "MedicationDispense" {"http://hl7.org.nz/fhir/StructureDefinition/NzepsMedicationDispense" #zen/quote hl7-org-nz-fhir-ig-mdr.NzepsMedicationDispense/schema},
                     "Observation" {"http://hl7.org.nz/fhir/ig/mdr/StructureDefinition/bodyweight" #zen/quote hl7-org-nz-fhir-ig-mdr.bodyweight/schema}}},
 searches {:zen/tags #{zen.fhir/searches},
           :searches {"NzmtType" {"http://hl7.org.nz/fhir/SearchParameter/nzf-nzmt-type-search-parameter" #zen/quote hl7-org-nz-fhir-ig-mdr.search.nzf-nzmt-type-search-parameter/search}}},
 structures {:zen/tags #{zen.fhir/structures},
             :schemas {"http://hl7.org.nz/fhir/StructureDefinition/nzeps-notify" #zen/quote hl7-org-nz-fhir-ig-mdr.nzeps-notify/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/nzeps-private-item" #zen/quote hl7-org-nz-fhir-ig-mdr.nzeps-private-item/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/nzeps-instructions-modified" #zen/quote hl7-org-nz-fhir-ig-mdr.nzeps-instructions-modified/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/nzeps-funding-category" #zen/quote hl7-org-nz-fhir-ig-mdr.nzeps-funding-category/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/nzeps-scriptno-local" #zen/quote hl7-org-nz-fhir-ig-mdr.nzeps-scriptno-local/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/nzeps-medication-action" #zen/quote hl7-org-nz-fhir-ig-mdr.nzeps-medication-action/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/nzeps-pharmacy-approval-original" #zen/quote hl7-org-nz-fhir-ig-mdr.nzeps-pharmacy-approval-original/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/nzeps-unsigned-rejection-reason" #zen/quote hl7-org-nz-fhir-ig-mdr.nzeps-unsigned-rejection-reason/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/nzeps-medication-modified" #zen/quote hl7-org-nz-fhir-ig-mdr.nzeps-medication-modified/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/nzeps-status-type" #zen/quote hl7-org-nz-fhir-ig-mdr.nzeps-status-type/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/nzeps-force-notification" #zen/quote hl7-org-nz-fhir-ig-mdr.nzeps-force-notification/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/nzeps-medication-claimable" #zen/quote hl7-org-nz-fhir-ig-mdr.nzeps-medication-claimable/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/nzeps-medication-copayment-paid" #zen/quote hl7-org-nz-fhir-ig-mdr.nzeps-medication-copayment-paid/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/nzeps-use-generic-name" #zen/quote hl7-org-nz-fhir-ig-mdr.nzeps-use-generic-name/schema,
                       "http://hl7.org.nz/fhir/StructureDefinition/nzeps-trial-period-reason" #zen/quote hl7-org-nz-fhir-ig-mdr.nzeps-trial-period-reason/schema}}}
