{ns hl7-org-nz-fhir-ig-mdr.nzeps-status-type,
 import #{hl7-fhir-r4-core.code zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "NZePS Status Types",
         :zen.fhir/type "code",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/nzeps-status-type",
         :zen.fhir/version "0.6.30-10",
         :confirms #{hl7-fhir-r4-core.code/schema}}}
