{ns hl7-org-nz-fhir-ig-mdr.nzeps-use-generic-name,
 import #{zen.fhir hl7-fhir-r4-core.boolean},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "NZePS Use Generic Drug Name Indicator",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/nzeps-use-generic-name",
         :zen.fhir/version "0.6.22-2",
         :confirms #{hl7-fhir-r4-core.boolean/schema}}}
