{ns hl7-org-nz-fhir-ig-mdr.nzeps-funding-category,
 import #{zen.fhir hl7-fhir-r4-core.string},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "NZePS Funding Category",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/nzeps-funding-category",
         :zen.fhir/version "0.6.29",
         :confirms #{hl7-fhir-r4-core.string/schema}}}
