{ns hl7-org-nz-fhir-ig-mdr.NzepsMedication,
 import #{zen.fhir hl7-fhir-r4-core.Medication},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "Medication resource for use in NZ e-Prescription Service Medicines Data Repository",
         :zen.fhir/type "Medication",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/NzepsMedication",
         :zen.fhir/version "0.6.22-2",
         :confirms #{hl7-fhir-r4-core.Medication/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:atc {:type zen/vector,
                      :every {:fhir/extensionUri "http://hl7.org.nz/fhir/StructureDefinition/nzf-atc"}},
                :nzmtType {:fhir/extensionUri "http://hl7.org.nz/fhir/StructureDefinition/nzf-nzmt-type"},
                :prescribebybrand {:fhir/extensionUri "http://hl7.org.nz/fhir/StructureDefinition/nzf-prescribe-by-brand"},
                :relatedmedication {:type zen/vector,
                                    :every {:fhir/extensionUri "http://hl7.org.nz/fhir/StructureDefinition/nzf-related-medication"}}}}}
