{ns hl7-org-nz-fhir-ig-mdr.nzeps-force-notification,
 import #{zen.fhir hl7-fhir-r4-core.boolean},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "NZePS Force Notification Indicator",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/nzeps-force-notification",
         :zen.fhir/version "0.6.16-3",
         :confirms #{hl7-fhir-r4-core.boolean/schema}}}
