{ns hl7-org-nz-fhir-ig-mdr.nzeps-pharmacy-approval-original,
 import #{zen.fhir hl7-fhir-r4-core.string},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "NZePS Pharmacy Approval Number",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/nzeps-pharmacy-approval-original",
         :zen.fhir/version "0.6.30",
         :confirms #{hl7-fhir-r4-core.string/schema}}}
